html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

@font-face {
    font-family: MuseoSansRounded-300-webfont;
    src: url(fonts/museosansrounded_300/MuseoSansRounded-300-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-100-webfont;
    src: url(fonts/museosansrounded_100/MuseoSansRounded-100-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-700-webfont;
    src: url(fonts/museosansrounded_700/MuseoSansRounded-700-webfont.ttf);
}
@font-face {
    font-family: MuseoSansRounded-500-webfont;
    src: url(fonts/museosansrounded_500/MuseoSansRounded-500-webfont.ttf);
}

body {
    font-family: MuseoSansRounded-300-webfont;
}
.c_visibl span {
    font-size: 16px;
    color: #666666;
}
.v_mnu {
    float: left;
    margin-top: 16px;
}
.v_cart {
    float: right;
    margin-top: -65px;
}
.c_visibl {
    color: white;
    text-align: center;
    font-size: 20px;
    position: relative;
}

header {
    background-color: black;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.logo {
    float: left;
    padding: 20px 0;
}
ul.hr {
    float: right;
    margin: 0;
}
ul.hr li {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    font-size: 16px;
    color: gray;
    list-style-type: none;
}
ul.hr span {
    border-right: 1px solid #cccccc;
    padding-right: 20px;
}
ul.hr li:last-of-type {
    margin-right: 0;
    padding-right: 0;
}
.log {
    font-size: 16px;
    color: #999999;
    background-color: black;
    border-radius: 5px;
    border: 1px solid #999999;
}
section {
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
}

.chart, .time, .cart, .bttn_verification_div {
    display: inline-block;
    font-family: MuseoSansRounded-700-webfont;
    font-size: 20px;
    color: #858585;
}
.chart {
    border-right: 1px solid #cccccc;
    background-image: url(images/chart.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 7px 30px 7px;
    margin-top: 5px;
}
.time {
    background-image: url(images/time.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 13px 0px 10px 35px;
}

.cart{
    background-image: url(images/cart.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 13px 0px 10px 35px;
}

.bttn_verification {
    padding: 10px;
    font-size: 20px;
    font-family: MuseoSansRounded-700-webfont;
    background-color: #e88903;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    margin-left: 45px;
}

.verify {
    font-family: MuseoSansRounded-700-webfont;
    text-align: left;
    font-size: 16px;
    background-color: #ceeef2;
    margin: 20px auto;
    padding: 20px;    
    border-radius: 5px;
    color: #757e7f;
}
.berry, .mango, .champagne, .blackbarry {
    width: 100%;
    height: 450px;
    border-radius: 5px;
    background-color: black;
    display: inline-block;
    margin: 10px 0px;
    position: relative;
}
.order_berry, .order_mango, .order_champagne, .order_blackbarry {
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-radius: 0px 0px 5px 5px;
}
.bttn {
    color: white;
    font-size: 18px;
    width: 100%;
    background-color: #4cccdb;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #4cccdb;
    padding: 15px;
}

.buy {
    width: 100%;
    background-color: #f3f3f3;
    display: inline-block;
    margin-bottom: -5px;
    
}
.buy li {

    font-size: 24px;
    color: #4cccdb;
    padding: 10px 25px;
    float: left;
}
.buy ul {
    margin-bottom: 0;
    list-style-type: none;
}
.travka {
    width: 100%;
}

.text {
    font-size: 14px;
    padding: 0px 30px;
    color: #cccccc;
    font-family: MuseoSansRounded-500-webfont;
    line-height: 10px;
}

.sativa, .THC, .indica {
    font-size: 16px;
    display: inline-block;
    padding: 5px 15px;
    margin: 10px 0px 10px 30px;
    background: none;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

.sativa {
    color: #ffde03;
    border: 3px solid #ffde03;
    cursor: pointer;
}

.indica {
    color: #82abff;
    border: 3px solid #82abff;
    cursor: pointer;
}

.THC {
    color: #ffffff;
    border: 3px solid #ffffff;
    margin: 10px 0px 10px 5px;
}

.topic {
    color: white;
    padding: 5px 15px;
    margin: 5px 5px 5px 15px;
}

.bttn, .THC, .sativa {
    cursor: pointer;
}

.bottom_div {
    width: 100%;
    height: 30px;
    background-color: white;
}

.button_mango {
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px 60px;
    margin: 10px 5px 25px 30px;
    cursor: pointer;
}

.button_mango_sum {
    background-color: #ffffff;
    color: #666666;
}

.button_mango_cart {
    background-color: #4cccdb;
    color: white;
}

.button_div {
    background-color: black;
}